
.heading {
  
  margin-top: 50px;
  text-align: center;
  background-repeat: no-repeat;
  
}

.header_row {
  height: 270px;
  background-image: url("../../assets/hero-overlay.svg");
  margin-top: -55px;
}
