.container {
  position: relative;
  margin: 50px 50px 50px;
}

table {
  width: 80%;
}

.mat-paginator {
  width: 80%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

td, th {
  width: 25%;
}

/* Added class col1 to first column in order to add border on the right */
.col1 {
  border-right: 1px solid lightgray;
} 
/* the next columns must be padded on the left so they are not against the first column */
.mat-cell, .mat-header-cell {
  padding-left: 20px;
}
