<div class ="questions">

<h2>Questions or problems with logging in?</h2>

Will it not be possible to log in? Read the most frequently asked questions below:

<h4>How do I register for a Microsoft account?</h4>
If your company does not use Office365 or you do not have a Microsoft account yet, it is possible to create one free of charge. It is important that you use your business e-mail address for this. read more

<h4>How do I link my LinkedIn account?</h4>
You can also log in with your LinkedIn account. Read below how your LinkedIn account can easily be linked to the Joheco dashboard. read more

<h4>What do I do if I have forgotten my password?</h4>
We will help you as soon as possible because we know how annoying it is when you can not access your account. Read below how you can set a new password for the different login options or solve other password problems.

Microsoft account | Instructions to recover your password Forgot your password
LinkedIn account Instructions to recover your password Forgot your password
What do I do if I have forgotten my username? 
Since you sign up with your e-mail address, we can not automatically help you find that information. Try another email address or call Joheco to remind or restore your account information.

<h4>What do I do if I think my account has been hacked? </h4>
We take security very seriously and we will warn you if we notice something suspicious in your account. Also check the login history of your account regularly. This can be found at user settings if you are logged in on the Joheco dashboard. If you see unusual registration activities, please contact Joheco directly.

<h4>What do I do if I want to delete my account? </h4>
Do you want to delete your personal account? Log in to the Joheco dashboard, go to user settings and click the "delete account" button. After verification, your account details and access to the joheco.nl dashboard will be removed.

Do you still have problems logging in after reading the questions above? Then contact our service desk.



</div>