

<div class="blog_container">
  <div class="blog_row">
    
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
     
      <div class="blog__col" *ngFor="let blogpost of blogposts">

        <a class="blog blog--login-ms" href="/klantportaal/login-ms">

          <div class="blog__title">
            <font style="vertical-align: inherit;">
             {{ blogpost.title }}
            </font>
          </div>

          <div class="blog__meta">
            <div class="login__button login__button--ms">
              <img src= "{{ blogpost.imageUrl }}" alt="login-ms">
            </div>
            <p>
              <font style="vertical-align: inherit;">
                {{ blogpost.description }}
              </font>
            </p>

          </div>
          
        </a>
          
      </div>
  </div>
</div>