/* You can add global styles to this file, and also import other style files */
div {
  display: block;
}
body { 
background-color: rgba(54,66,91,.1);
color: #36425b;
font-family: Nunito,sans-serif;
font-size: 16px;
line-height: 1.5;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
